Obtain the secret from the .env file (APP_API_KEY) or run the command `make metrics-key`
to automatically set it. Remove this comment and leave only the secret as value in case you're
setting it manually. As 05 Jun 2023, prometheus does not support injecting secrets as environment
variables, so we need to set it manually.